<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Estudio 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint odit dolor debitis assumenda repellat fugit mollitia aliquid aperiam illum distinctio eius vitae reprehenderit, fugiat provident consequuntur quisquam fuga incidunt sit.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint odit dolor debitis assumenda repellat fugit mollitia aliquid aperiam illum distinctio eius vitae reprehenderit, fugiat provident consequuntur quisquam fuga incidunt sit.
            </p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>

